.time-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: -12px;
}

.select-input {
    padding-right: 30px;
    margin-right: 1rem;
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    -moz-appearance: none;
    -webkit-appearance: none;

}

.select-input::-ms-expand {
    display: none;
}

.glow-button {
    position: relative;
    overflow: hidden;
}

.glow-button::before {
    content: '';
    position: absolute;
    top: var(--y, 50%);
    left: var(--x, 50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(0, 109, 91, 0.3) 0%, transparent 60%);
    transition: opacity 0.2s, transform 0.2s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    z-index: 0;
}

.glow-button:hover::before {
    opacity: 1;
}

.glow-button>* {
    position: relative;
    z-index: 1;
}