.tableContainer {
  max-height: 70vh; /* Adjust this value as needed */
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.tableContainer::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

table th.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: black; /* Ensure the background color is retained */
}

table th.sticky.left-0 {
  z-index: 20;
  background-color: black; /* Ensure the background color is retained */
}

table td.sticky {
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: black; /* Ensure the background color is retained */
  color: white; /* Ensure the text color is white */
}

.footer  {
    position: relative !important;
    clear: both !important;
    bottom: -50px !important;
    height: 60px !important; /* Ensure the footer has a fixed height */
    margin-top: 100px !important;
  }
  